<a href="https://colab.research.google.com/github/Hugocorreaa/Python/blob/master/Aula%2018%20Listas%20(Parte%202).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Juntar uma Lista na Outra**


```
dados = ['Pedro', 25]

```

dados |Pedro  | 25
---|---|---
|0|1|



```
dados = ['Pedro', 25]
pessoas = list()
pessoas.append(dados[:])
```

>![](https://i.imgur.com/69JjI2jt.png)



```
pessoas = [['Pedro', 25], ['Maria', 19], ['João', 32]]
```

>![](https://i.imgur.com/5L0edHu.png)

In [ ]:
pessoas = [['Pedro', 25], ['Maria', 19], ['João', 32]]

print(pessoas[0][0])
print(pessoas[1][1])
print(pessoas[2][0])
print(pessoas[1])



---

In [ ]:
teste = []
teste.append('Gustavo')
teste.append(40)
print(teste)

galera = []
galera.append(teste[:])
print(galera)

teste[0] = 'Maria'
teste[1] = 22
galera.append(teste[:])

print(galera)



---

In [ ]:
galera = [['João', 19], ['Ana', 33], ['Joaquim', 13], ['Maria', 45]]
print(galera)

print(galera[0])

print(galera[0][0])

print(galera[2][1])



---

In [ ]:
galera = [['João', 19], ['Ana', 33], ['Joaquim', 13], ['Maria', 45]]

for p in galera:
  print(p)
print('-'*20)

for p in galera:
  print(p[0])
print('-'*20)

for p in galera:
  print(f'{p[0]} tem {p[1]} anos de idade.')



---

In [ ]:
galera = []
dado = []

for c in range(0, 3):
  dado.append(str(input('Nome: ')))
  dado.append(int(input('Idade: ')))
  galera.append(dado[:])
  dado.clear()
print(galera)



---


Mostrar somente os maiores de idade

In [ ]:
galera = []
dado = []
totalmaior = totalmenor = 0

for c in range(0, 3):
  dado.append(str(input('Nome: ')))
  dado.append(int(input('Idade: ')))
  galera.append(dado[:])
  dado.clear()

for p in galera:
  if p[1] >= 21:
    print(f'{p[0]} é maior de idade.')
    totalmaior += 1
  else:
    print(f'{p[0]} é menor de idade')
    totalmenor += 1

print(f'Temos {totalmaior} maiores e {totalmenor} menores de idade.')